/* ==== ALLIANCE ==== */

.alliance {
    padding: 25px;
}

.alliance .alliance-header {
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 14px;
    margin-bottom: 14px;
}

.alliance ul {
    list-style: none;
    padding: 0;
}

.alliance li {
    border-bottom: 1px solid #eee;
    padding: 14px 0;
}

.alliance li:last-child {
    border: none;
}

.alliance li i {
    margin-right: 8px;
}
.top_nav
{
    font-size: 18px;
    color: rgb(108,108,108);
    padding: 0 40px 0 0;
    margin: 20px 0 20px 40px;
    text-decoration: none;
    /*line-height: 20px;*/
    height: 20px!important;
    width: 113px;
    text-align: center;

}
.content
{
    text-align: center;
}
.widthdiv
{
    display: flex;
    justify-content: center;
    align-content: center;
}
.headerp
{
    text-align: left;
    font-size: 16px;
    width: 40%;
    padding-bottom: 5px;
    padding-top: 50px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 30px;
}
.divmain
{
    display: flex;
    justify-content: center;
    align-content: center;
}
.formposition
{
    width: 40%;
}
.formwidth
{
    text-align: right;
    width: 100%;
    margin-bottom: 70px;
    font-size: 14px;
}
.inputborder
{
    width: 316px;
    padding:7px;
    border:1px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 30px;
    font-size: 15px;
}
.namelable
{
  margin-top: 6px;
    font-size: 16px;
}
.btnquery
{
    width: 241px;
    padding:6px;
    color: white;
    border:1px solid #dddddd;
    border-radius: 5px;
    background:linear-gradient( to right,#9A68B2,#C976E6);
    margin-left: 70px;
    cursor:pointer;
}