#color-blue {
    color: #6f2e8f;
    list-style-type: none;
    list-style-image: url("/public/img/circle_purple.png");
    background-repeat: no-repeat;
    background-position: left center;
}

#color-white {
    color: #6c6c6c;
    list-style-type: none;
    list-style-image: url("/public/img/circle_grey.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.color-blue {
    color: #6f2e8f !important;
}

.color-white {
    color: #6c6c6c !important;
}

.silderBar {
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    box-shadow: 0px 0px 3px #ccc;
}

.divider {
    height: 1px;
    margin-left: 26px;
    margin-right: 26px;
    background-color: #d9d9d9;
}

.li-setting {
    list-style-type: none;
    list-style-image: url("/public/img/circle_grey.png");
    background-repeat: no-repeat;
    background-position: left center;
}